@import '../../styles/variables';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light;
    padding: 7% 0;
    position: relative;
    .line {
        width: 100%;
        position: absolute;
        z-index: 3;
        top:  -100%;
    }
    .line2 {
        width: 100%;
        position: absolute;
        z-index: 1;
        top:  -100%;
        z-index: 2;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-light;
        -webkit-box-shadow: 0px 0px 12px 2px rgba(161,161,161,1);
        -moz-box-shadow: 0px 0px 12px 2px rgba(161,161,161,1);
        box-shadow: 0px 0px 12px 2px rgba(161,161,161,1);
        width: 35%;
        padding-bottom: 3%;
        position: absolute;
        left: 20%;
        height: 65%;
        z-index: 5;

        h1 {
            color: $color-dark;
            font-size: calc(#{$size}*1.7);
            max-width: 100%;
            font-weight: 600;
        }
        p {
            text-align: center;
            font-size: calc(#{$size}/1.4);
            font-weight: 300;
            max-width: 75%;
            margin-top: -2%;
            margin-bottom: 7%;
            text-wrap: balance;
        }
        input {
            border: none;
            color: $color-dark;
            background-color: transparent;
            font-size: calc(#{$size}/1.5);
            font-family: Montserrat Alternates;
            border-bottom: 1px solid $color-dark;
            padding: 1.5% 0;
            margin-bottom: 1%;
            width: 65%;
            outline: none;
        }
        .text {
            margin-top: 2%;
            border: none;
            resize: none;
            color: $color-dark;
            background-color: transparent;
            font-size: calc(#{$size}/1.5);
            font-family: Montserrat Alternates;
            border: 1px solid $color-dark;
            padding: 1.5% 0.5%;
            margin-bottom: 1%;
            width: 65%;
            height: 10vh;
            outline: none;
        }
        button {
            font-family: Montserrat Alternates;
            background-color: $color-dark;
            border: none;
            color: $color-light;
            font-size: calc(#{$size}/1.2);
            font-weight: 300;
            width: 55%;
            padding: 3% 0%;
            margin-top: 15%;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background-color: #6d685f;
            }
        }
    }
    .formImage {
        width: 33%;
        margin-left: 25%;
        z-index: 3;
    }
}
@media screen and (max-width: 900px) {
    .form {
        h1 {
            max-width: fit-content !important;
        }
    }
    .formImage {
        width: 37% !important;
    }
}
@media screen and (max-width: 720px) {
    .form {
        left: 15% !important;
        width: 35% !important;
    }
    .formImage {
        width: 40% !important;
    }
}
@media screen and (max-width: 630px) {
    .root {
        padding: 10% 0 !important;
    }
    .form {
        width: 40% !important;
    }
}
@media screen and (max-width: 500px) {
   .formImage {
    width: 70% !important;
    margin-left: 0 !important;
   }
   .form {
    width: 60% !important;
    height: 75% !important;
    left: auto !important;
   }
   input {
    width: 70% !important;
    padding: 2.5% 0 !important;
   }
   .text {
    width: 70% !important;
    padding: 2.5% 0.5% !important;
   }
}
@media screen and (max-width: 450px) {
    .formImage {
        width: 85% !important;
    }
    .form {
        width: 75% !important;
        height: 75% !important;
    }
}